<md-sidenav-container>
    <md-sidenav #sidenav mode="side">
        <md-nav-list>
            <md-list-item>
                <span routerLink="/clients">客户信息</span>
            </md-list-item>
            <md-list-item>
                <span routerLink="/clientGroups">客户组管理</span>
            </md-list-item>
            <md-list-item>
                <span routerLink="/envelopes">信封设置</span>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <span>
            <button md-button class="app-menu-icon-button" (click)="sidenav.toggle()">
                <md-icon>menu</md-icon>
            </button>
            快递信封打印
        </span>
        <span class="app-toolbar-filler"></span>
        <span>
            <button md-button (click)="gotoMenu('/clients')">客户信息</button>
            <button md-button (click)="gotoMenu('/clientGroups')">客户组管理</button>
            <button md-button (click)="gotoMenu('/envelopes')">信封设置</button>
        </span>
    </md-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>
