<md-card>
    <button md-raised-button (click)="addNewClient()" color="primary">新增客户</button>
</md-card>

<md-card>
    <div>
        <button md-button [disabled]="isFirstPage()" (click)="loadClients(firstPageUrl)">第一页</button>
        <button md-button [disabled]="isFirstPage()" (click)="loadClients(prevPageUrl)">前一页</button>
        当前页：{{ currentPageNum }}
        <button md-button [disabled]="isLastPage()" (click)="loadClients(nextPageUrl)">下一页</button>
        <button md-button [disabled]="isLastPage()" (click)="loadClients(lastPageUrl)">最末页</button>

        <span style="float: right">客户总数：{{ totalClients }}</span>
    </div>

    <div style="width: 100%;">
        <ag-grid-angular #agGrid style="width: 100%; height: 400px;" class="ag-fresh"
                         [gridOptions]="gridOptions"
                         (cellClicked)='onCellClicked($event)'>
        </ag-grid-angular>
    </div>
</md-card>